<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>CoT by iamcot</title>

    <link rel="stylesheet" href="{{site.baseurl}}/stylesheets/styles.css">
    <link rel="stylesheet" href="{{site.baseurl}}/stylesheets/pygment_trac.css">
    <script src="{{site.baseurl}}/javascripts/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<div class="wrapper">
    <header>
        <a href="/"><img src="{{site.baseurl}}/cotcanon.jpg"></a>
        <h1 class="header">CoT</h1>
        <p class="header">
            PHP software engineer
        </p>
        <ul>
            <li><a href="/"><strong>Posts</strong></a></li>
            <li> | </li>
            <li><a href="/about"><strong>About</strong></a></li>
            <!--<li><a class="buttons github" href="https://github.com/iamcot">GitHub Profile</a></li>-->
        </ul>

    </header>