---
layout: default
---

<article class="post clear">
    <h1 class="post__title">
        {{ page.title }}
    </h1>
    <div class="post__meta">
        <p>
            {{ page.date | date: "%B %d, %Y" }}
        </p>
    </div>

    {{ content }}

</article>
    <div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_url = {%if page.disqus %}'{{ page.disqus }}'{%else %}'http://iamcot.com{{ page.url }}'{% endif %};
    var disqus_title = '{{ page.title }}';
    var disqus_shortname = 'iamcot'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>